@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

header {
    background: white;
    color: black;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 30px;

    margin-top: 0.9%;
    text-align: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header::selection {
    background: transparent;
}