@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

header {
    background: white;
    color: black;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 55px;

    margin-top: 0.9%;
    margin-bottom: 1.5%;
    text-align: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header::selection {
    background: transparent;
}

.majorheadline {
    background: white;
    color: black;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 40px;

    margin-top: 2.0%;
    margin-left: 16.66%;
    margin-right: 16.66%;
    text-align: center;
}

.vl {
    border-left: 6px solid black;
    height: 100%;
}